.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px;
}

h1 {
  color: #fff;
  font-size: 28px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #2E2D4E;
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;

  & button {
    border-radius: 30px;
    background: #8B8AE1;
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
  }

  & button:hover {
    opacity: 0.8;
  }

  & input {
    border: 1px solid #48456C;
    border-radius: 30px;
    height: 40px;
    background-color: #363635;
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: #2E2D4E;
  margin: 10px;
  padding: 10px;
  width: 400px;
  border-radius: 10px;

  & p {
    color: #fff;
    font-weight: bold;
  }

  & span {
    font-weight: normal;
  }

  & button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  & button:hover {
    opacity: 0.5;
  }
}

/* Estilos para dispositivos móveis (máximo de 600px) */
@media (max-width: 600px) {
  body {
    font-size: 14px; /* Reduz o tamanho da fonte em telas pequenas */
    margin: 0;
    padding: 0;
  }

  .container {
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin-top: 150px; /* Adiciona espaço acima do container */
    width: 100%; /* Aumenta a largura do container para 100% em telas menores */
  }

  form {
    width: 80%; /* Aumenta a largura do formulário para 90% em telas menores */
    max-width: 100%; /* Garante que o formulário não ultrapasse 500px */
  }

  .card {
    width: 100%; /* As cards ocupam toda a largura disponível */
    margin-bottom: 15px;
  }

  input, button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
  }

  h1 {
    font-size: 1.5rem; /* Diminui o tamanho da fonte do título */
  }

  img {
    max-width: 100%; /* As imagens ficam responsivas */
    height: auto;
  }
}
